{% extends 'base.html' %}
{% block title %}Libros Atrasados{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="col-5">
                  <h5 class="card-title mt-4">LIBROS ATRASADOS</h5>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <a href="{% url 'lend-book' %}" class="btn btn-primary">Prestar Libro</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Buscar libro por título o autor" name="query">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Fecha de Devolución</th>
                        <th>Usuario</th>
                        <th>Multa</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ book.book.title }}</td>
                                <td>{{ book.return_date }}</td>
                                <td>{{ book.member.name }}</td>
                                <td>{{ book.fine }}</td>
                                <td class="{% if book.returned %} text-success {% else %} text-danger {% endif %}">
                                    {% if book.returned %}
                                        Devuelto
                                    {% else %}
                                        Devolver
                                    {% endif %}
                                </td>
                                <!-- button to change status -->
                                <td>
                                    <a href="{% url 'return-book' book.pk %}" class="btn {% if book.returned %} disabled btn-light {% else %} btn-success{% endif %}">{% if book.returned %}Returned{% else %} Return {% endif %}</a>
                                </td>
                                <td>
                                    <a href="{% url 'edit-borrowed-book' book.pk %}" class="btn btn-primary">Editar</a>
                                </td>
                                <td>
                                    <a href="{% url 'delete-borrowed-book' book.pk %}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
