{% extends 'base.html' %}
{% block title %}Devolver Libro Vencido{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Devolver Libro</h4>
        <p class="card-description">
          Este libro está vencido, pero puedes marcarlo como devuelto.
        </p>

        <form method="POST">
          {% csrf_token %}
          <p>¿Estás seguro de marcar este libro como devuelto?</p>
          <button type="submit" class="btn btn-success btn-md me-2">Confirmar devolución</button>
          <a class="btn btn-light" href="{% url 'lent-books' %}">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}