{% extends 'base.html' %}
{% block title %}Lista de Pagos{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="col-5">
                  <h5 class="card-title mt-4">LISTA DE PAGOS</h5>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Buscar pago" name="query">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Pagado por</th>
                        <th>Método de pago</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.member.name }}</td>
                                <td>{{ payment.payment_method }}</td>
                                <td>${{ payment.amount|floatformat:2 }}</td>
                                <td>
                                    <a href="{% url 'delete-payment' payment.pk %}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
